Group 7  solution

## Importing Libraries

In [5]:
import pandas as pd
import numpy as np
from sklearn.datasets import fetch_openml

## Importing dataset from OpenML

In [8]:
#AIDS classification dataset
data = fetch_openml(data_id=46076, as_frame=True)
df = data.frame # Our original dataset stored in a dataframe 'df'

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\datasets\_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

## Exploratory Data Analysis

#### Initial analysis

In [17]:
df.head(5)

,time,trt,age,wtkg,hemo,homo,drugs,karnof,oprior,z30,...,str2,strat,symptom,treat,offtrt,cd40,cd420,cd80,cd820,infected
0,1073,1,37,79.46339,0,1,0,100,0,1,...,1,2,0,1,0,322,469,882,754,1
1,324,0,33,73.02314,0,1,0,90,0,1,...,1,3,1,1,1,168,575,1035,1525,1
2,495,1,43,69.47793,0,1,0,100,0,1,...,1,1,0,0,0,377,333,1147,1088,1
3,1201,3,42,89.15934,0,1,0,100,1,1,...,1,3,0,0,0,238,324,775,1019,1
4,934,0,37,137.46581,0,1,0,100,0,0,...,0,3,0,0,1,500,443,1601,849,0

In [19]:
df.shape

(50000, 23)

In [21]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
time,50000.0,877.369780,307.288688,66.00000,542.000000,1045.000000,1136.000000,1231.00000
trt,50000.0,1.384800,1.233272,0.00000,0.000000,1.000000,3.000000,3.00000
age,50000.0,34.164020,7.091152,12.00000,29.000000,34.000000,39.000000,68.00000
wtkg,50000.0,75.861991,12.028730,42.36162,68.253682,74.054115,81.142185,149.83087
hemo,50000.0,0.033480,0.179888,0.00000,0.000000,0.000000,0.000000,1.00000
homo,50000.0,0.653540,0.475847,0.00000,0.000000,1.000000,1.000000,1.00000
drugs,50000.0,0.132220,0.338733,0.00000,0.000000,0.000000,0.000000,1.00000
karnof,50000.0,96.831560,5.091788,76.00000,90.000000,100.000000,100.000000,100.00000
oprior,50000.0,0.042300,0.201275,0.00000,0.000000,0.000000,0.000000,1.00000
z30,50000.0,0.640880,0.479747,0.00000,0.000000,1.000000,1.000000,1.00000
preanti,50000.0,318.159560,402.932765,0.00000,0.000000,123.000000,503.000000,2828.00000
race,50000.0,0.293300,0.455279,0.00000,0.000000,0.000000,1.000000,1.00000
gender,50000.0,0.856700,0.350382,0.00000,1.000000,1.000000,1.000000,1.00000
str2,50000.0,0.575200,0.494318,0.00000,0.000000,1.000000,1.000000,1.00000
strat,50000.0,1.936420,0.895318,1.00000,1.000000,2.000000,3.000000,3.00000
symptom,50000.0,0.083460,0.276579,0.00000,0.000000,0.000000,0.000000,1.00000
treat,50000.0,0.734160,0.441784,0.00000,0.000000,1.000000,1.000000,1.00000
offtrt,50000.0,0.342220,0.474458,0.00000,0.000000,0.000000,1.000000,1.00000
cd40,50000.0,319.079540,102.525976,0.00000,236.000000,299.000000,396.000000,930.00000
cd420,50000.0,438.090100,144.806831,81.00000,327.000000,415.000000,531.000000,1119.00000
cd80,50000.0,1045.936440,488.617434,96.00000,713.000000,885.000000,1245.000000,4656.00000
cd820,50000.0,905.938440,339.707976,173.00000,649.000000,858.000000,1084.000000,3538.00000
infected,50000.0,0.310120,0.462547,0.00000,0.000000,0.000000,1.000000,1.00000

In [23]:
df.isna().sum().sum()

0

In [27]:
df.dtypes

time          int64
trt           int64
age           int64
wtkg        float64
hemo          int64
homo          int64
drugs         int64
karnof        int64
oprior        int64
z30           int64
preanti       int64
race          int64
gender        int64
str2          int64
strat         int64
symptom       int64
treat         int64
offtrt        int64
cd40          int64
cd420         int64
cd80          int64
cd820         int64
infected      int64
dtype: object

Here's what we know about the dataset:
1. No missing/NaN values
2. The dataset has 50k rows and 23 columns
3. The dataset has no categorical variables